* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 10px;
    padding: 20px;
    font-family: Montserrat;
}

h1 {
    text-align: center;
    margin: 10px;
    color: #87A2FF;
}

.file-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.file-list {
    width: 100%;
    margin: 10px;
}

select {
    width: 100%;
    padding: 5px;
}

.cube-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}

.cube-layer {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 2px;
}

.cube-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFF;
    border: 1px solid #ccc;
    font-size: 20px;
}

.changed-cell {
    background-color: #87A2FF;
    color: #ffff;
}

.player-controls {
    display: flex;
    justify-content: center;
    margin: 10px;
}

button {
    background: #87A2FF;
    color: #FFFF;
    padding: 8px 8px;
    border: #FFFF;
    border-radius: 5px;
}

button:disabled {
    cursor: not-allowed;
    background-color: #cccc;
}

.speed-control, .progress-control {
    padding: 10px;
    display: block;
}

input[type="range"] {
    width: 100%;
    margin: 10px;
}

#progressLabel {
    display: block;
    text-align: center;
}